
<router-outlet />
<div class="open">
  <div class="open inside"></div>

  <div class="open inside"></div>
</div>
<div class="top">
 <h1>__________</h1> 
  <h1>__________</h1> 
   <h1>_________</h1> 
  <h1>_________</h1> 
</div>

<div class="eyes">
<div class="two">
  <h2>|</h2>
<h2>|</h2>
<h2>|</h2>
<h2>|</h2>
</div>
<div class="two">
  <h2>|</h2>
<h2>|</h2>
<h2>|</h2>
<h2>|</h2>
</div></div>
<div class="one">

</div>  
<div class="zero">
<h1>O</h1>
  <h1>O</h1>  
</div>
<div class="smile"></div>