<div class="container">
	<header>
		<nav>
		<a routerLink="/home" >Home</a>
		<a routerLink="/about" class="active">About</a>
		<a routerLink="/contact">Contact</a>	
		</nav>
	</header>
	<section>
		<h1>ABOUT</h1>
		<div class="card">
			<p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, ratione ducimus possimus modi ut voluptatem sint id tenetur, fuga, asperiores provident deserunt. Tempore, veniam, molestiae quasi porro delectus quod quisquam?</p>
			<div class="divider"></div>
			<p class="mr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo aliquid corrupti veniam eligendi, quisquam pariatur maxime vitae deleniti sapiente adipisci reprehenderit voluptate, fugiat neque natus eaque eos, sint nesciunt at.</p>
		</div>
	</section>
</div>
