<div class="header">
  <a href="/about">Octagon</a>
  <a href="/myprofile">Nonagon</a>	
  <a href="/heptagon">Heptagon</a>	
  <a href="/pentagon">Pentagon</a>	
  <a href="/hexagon">Hexagon</a>
  <a href="/parallelogram">Parallelogram</a>
</div>

<div class="body">
  <div class="circle"></div>	
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>

<div class="one"></div>
<h1>
  <span>O</span>
  <span>R</span>
  <span>A</span>
  <span>N</span>
  <span>G</span>
  <span>E</span>
</h1>
<div class="two"></div>

<router-outlet></router-outlet>
