<div class="container">
	<header>
		<nav>
		<a routerLink="/home" class="active" >Home</a>
		<a routerLink="/about">About</a>
		<a routerLink="/contact">Contact</a>	
		</nav>
	</header>
	<section>
		<h1>HOME</h1>
		<div class="card">
			<div class="right">
				<div class="img"></div>
			</div>
			<div class="ml">
			<h3>hazel jane guno</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores blanditiis fugit accusantium illo fugiat sint velit accusamus, eaque laboriosam id eligendi aspernatur ipsam, earum molestias odio doloremque, facilis suscipit nostrum?</p>	
			</div>
			
		</div>
	</section>
</div>
