<div class="btn">
	<button routerLink="/dashboard"><i class="fa-solid fa-house"></i></button>
</div>
<section>

	<h1>Grades<i class="fas fa-clipboard-list"></i></h1>
	
	<div class="table">
		<div class="top">
			<div>
				<h2>Grades</h2>
			</div>
			<div>
			<select>
				<option value="">First Semester</option>
				<option value="">Second Semester</option>
			</select>
		</div>
		</div>

		
		
	<table>
		<thead>
			<tr>
				<th>ONE</th>
				<th>1st</th>
				<th>2nd</th>
				<th>3rd</th>
				<th>4th</th>
				<th>Final</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>English</td>
				<td>89</td>
				<td>90</td>
				<td>85</td>
				<td>93</td>
				<td>Result</td>
			</tr>
			<tr>
				<td>Math</td>
				<td>89</td>
				<td>90</td>
				<td>85</td>
				<td>93</td>
				<td>Result</td>
			</tr>
			<tr>
				<td>Science</td>
				<td>89</td>
				<td>90</td>
				<td>85</td>
				<td>93</td>
				<td>Result</td>
			</tr>
		</tbody>
	</table>
	</div>
</section>