<div class="btn">
	<button routerLink="/dashboard"><i class="fa-solid fa-house"></i></button>
</div>
<section>
	<div class="top">
	<div class="img"></div>
	<div class="name">
		<h1>MY PROFILE</h1>
		<h3>Hazel Jane B. Guno</h3>
	</div>
		
	</div>
	
	<div class="profile">
	<div class="card">
		<div class="left">
			<p>Gender</p>
			<div class="gender">
				<button class="one"><span>MALE</span></button>	
				<button class="one two"><span>FEMALE</span></button>
			</div>
		</div>

		<div class="right">
			<p>Birthday</p>
			<div class="box">
				<span>02/19/03</span>
			</div>
		</div>
			</div>

	<div class="card">
		<div class="right">
			<p>Birthplace</p>
			<div class="box">
				<span style="padding:2px 0;font-size: 9px;">Formon, Bongabong, Oriental Mindoro</span>
			</div>	
		</div>	

		<div class="left">
			<p>Contact</p>
			<div class="box">
				<span>09925825861</span>
			</div>
		</div>		
	</div>
	</div>

</section>
