<app-header></app-header>
<section>
<div class="container">
	<div class="three">
		<div>
			<h1>WELCOME</h1>
		</div>
		<div class="two">
		<div class="one">
			<div class="card">
				<div class="text">
					<h3>Home</h3>
					<h1>Announcements</h1>
				</div>
				<div class="icon">
					<i class="fa fa-bell"></i>
				</div>
			</div>
			<div class="card">
				<div class="text">
					<h3>Home</h3>
					<h1>Announcements</h1>
				</div>
				<div class="icon">
					<i class="fa fa-bell"></i>
				</div>
			</div>
		</div>
			<div class="one">
			<div class="card">
				<div class="text">
					<h3>Home</h3>
					<h1>Announcements</h1>
				</div>
				<div class="icon">
					<i class="fa fa-bell"></i>
				</div>
			</div>
			<div class="card">
				<div class="text">
					<h3>Home</h3>
					<h1>Announcements</h1>
				</div>
				<div class="icon">
					<i class="fa fa-bell"></i>
				</div>
			</div>
			</div>		
		</div>					
	</div>
</div>
	<div class="calendar">
		<div class="button">
			<div class="left">
				<button><</button>
			</div>
			<h1>CALENDAR</h1>
			<div class="right">
				<button>></button>
			</div>
		</div>
		<div>
			<table>
			<thead>
				<tr>
					<th>MON</th>
					<th>TUE</th>
					<th>WED</th>
					<th>THUR</th>
					<th>FRI</th>
					<th>SAT</th>
					<th>SUN</th>
				</tr>
			</thead>
		</table>
		</div>
		
	</div>
</section>