<section>
    	<h1>Signin</h1>
	<form action="">
		<div class="card">
		<input type="text" placeholder="" required>
		<label for="first name">First Name</label>	
		</div>
        <div class="card">
		<input type="text" placeholder="" required>
		<label for="last name">Last Name</label>	
		</div>
        <div class="card">
		<input type="email" placeholder="" required>
		<label for="email">Email</label>	
		</div>
        <div class="card">
		<input type="password" placeholder="" required>
		<label for="password">Password</label>	
		</div>
		<div class="btn">
			<button type="submit"><a routerLink="/header">Sign in</a></button>
		</div>
	</form>
</section>
