/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.imglogo{
  background-image: url('assets/logo.png');
  width: 80px;
  background-size: center;
  background-repeat: no-repeat;
  height: 80px;
  border-radius: 50%;
}
.img1{
  width: 50%;
  background-image: url('assets/loginimage.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.btn button{
  right: 20px;
  border-radius: 50%;
  top:20px;
  position: fixed;
  background: orange;
  font-size: 30px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid black;
  transition: background 0.3s ease-in;
}
.btn button:hover{
  border: none;
  background: orangered;
}